<section id="banner">
  <div class="body-banner">
    <div class="title">
      <mat-divider></mat-divider>
      <h2>Rede de Distribuição</h2>
      <mat-divider></mat-divider>
    </div>

    <p style="margin-top: 25px">
      Use este aplicativo<br />
      para gerenciar sua rede de distribuição<br />
      de cabos de fibra optica.<br />
      Desenvolvido por <a href="https://agnsuporte.com">AGNSuporte</a>.
    </p>

    <div class="action">
      <a routerLink="/project" mat-flat-button color="accent">Novo Projeto?</a
      >
      <a routerLink="/projects" mat-raised-button color="primary">Gerenciar Projeto?</a
      >
    </div>
  </div>
</section>
